body {
  background: #202020;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
canvas {
  display: block;
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  width: 100%;
  height: inherit;
}
div.game {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  display: block;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 40%;
  margin: 0 auto;
  background: rgba(20,20,20,0.9);
}

div.game h3 {
  display: inline-block;
  padding: 10px;
  margin: 0;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

div.game h3:hover {
  background-color: #FF0000;
}

div.game h3.selected {
  background-color: #FF0000;
}

div.menu h1 {
  padding: 30px;
}

h4 {
  padding: 5px 20px;
}

div.player-options, div.controller-options {
  display: table;
  position: relative;
  margin: 0 auto;
}

div.hidden {
  display: none;
}
